.ipynb_checkpoints/
__pycache__/
.DS_Store
Thumbs.db

# Python application files
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Environment and secrets
.env
.env.*

# Large model checkpoints
*.pt
*.pth
*.ckpt


!ThyroidClassification_webapp_TeamC7255B/model/convnext_tiny_seed123_best.pt
